
* {
  margin: 0;
  padding: 0;
  font-family: Arial;
}

body {
  background: #010131;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px ;
  background: #020f47;
  position: sticky;
  top: 0;
  z-index:1;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #d2b645;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 6px;
  border: none;
}

.hero {
  height: 60vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://images2.alphacoders.com/774/thumb-1920-774545.jpg");
  background-size:cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
}


.hero h1 {
  font-size: 40px;
}

.hero button {
  margin-top: 10px;
  padding: 10px;
  width: 150px;
  background: #1c1517;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  
}
.hero button:hover {
  background: #c40c0c;  
}

h2 {
  margin: 20px;
}

.container {
  padding: 20px;
}

.cards {
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: #1e293b;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  flex-basis: 20%;
  margin: 10px;
  flex-grow: 1;
  position: relative;
  
  
}
  @media screen and (max-width:800px) {
    .card{
      flex-basis: 40%;
    }
  
  }
  @media screen and (max-width:600px) {
    .card{
      flex-basis: 100%;
    }
  
  }

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  transition: 0.3s;
}

.card:hover .overlay {
  opacity: 1;
}

.card p {
  text-align: center;
  padding: 10px;
}


.card a {
  text-decoration: none;
  color: white;
  display: block;
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
  margin-top: 20px;
}

